{% extends "base.html" %}
{% block title %}Create Invoice{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Create Invoice</h1>
    {% include "invoices/_invoice_form.html" %}
</div>

<div class="modal fade" id="createInvoiceCustomerModal" tabindex="-1" aria-labelledby="createInvoiceCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createInvoiceCustomerModalLabel">Create Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% with form=customer_form %}
                    {% include 'customers/customer_form.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

{% set invoice_form_submit_mode = 'page' %}
{% include "invoices/_invoice_form_scripts.html" %}
{% endblock %}
