<tr id="transfer-row-{{ transfer.id }}">
    {% set total_items = transfer.transfer_items|length %}
    {% set ns = namespace(completed_items=0) %}
    {% for transfer_item in transfer.transfer_items %}
        {% if transfer_item.completed_quantity >= transfer_item.quantity %}
            {% set ns.completed_items = ns.completed_items + 1 %}
        {% endif %}
    {% endfor %}
    {% set completion_percentage = ((ns.completed_items / total_items) * 100) if total_items else 0 %}
    <th scope="row" class="col-transfer-id">{{ transfer.id }}</th>
    <td class="col-transfer-from">{{ transfer.from_location.name }}</td>
    <td class="col-transfer-to">{{ transfer.to_location.name }}</td>
    <td class="col-transfer-completion">
        {{ ns.completed_items }}/{{ total_items }} ({{ "%.0f"|format(completion_percentage) }}%)
    </td>
    <td class="col-transfer-actions">
        <a href="{{ url_for('transfer.view_transfer', transfer_id=transfer.id) }}" class="btn btn-primary" target="_blank">View</a>
        <button type="button" class="btn btn-secondary edit-transfer-btn" data-id="{{ transfer.id }}">Edit</button>
        {% if transfer.completed %}
        <a href="{{ url_for('transfer.uncomplete_transfer', transfer_id=transfer.id) }}" class="btn btn-success">Incomplete</a>
        {% else %}
        <a href="{{ url_for('transfer.complete_transfer', transfer_id=transfer.id) }}" class="btn btn-success">
            {% if ns.completed_items > 0 %}Finish{% else %}Complete{% endif %}
        </a>
        {% endif %}
        <form action="{{ url_for('transfer.delete_transfer', transfer_id=transfer.id) }}" method="post" class="d-inline">
            {{ form.hidden_tag() }}
            <input type="submit" value="Delete" class="btn btn-danger" data-confirm-message="Are you sure?">
        </form>
    </td>
</tr>
